<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{ page_title }}
      {% unless page_title contains shop.name %}
        &ndash;
        {{ shop.name }}
      {% endunless %}
    </title>

    {{ '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' | stylesheet_tag }}
    {{ '//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' | stylesheet_tag }}
    {{ '//fonts.googleapis.com/css?family=Lato:100,300,400,700,400italic,700italic' | stylesheet_tag }}

    {{ 'animate.min.css' | asset_url | stylesheet_tag }}
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
    {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
    {{ 'style.scss.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}

    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
    {{ 'modernizr.min.js' | asset_url | script_tag }}
  </head>

  <body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
          </button>
          <!-- <a class="navbar-brand page-scroll" href="#page-top">Start Bootstrap</a> -->
          <a class="navbar-brand" href="{{ shop.url }}">
            <img src="{{ 'bigD.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="menu-main-menu-container">
            <nav class="items">
              <ul class="nav navbar-nav navbar-right">
                <!-- <li id="menu-item-25" class="violet menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a href="http://goodfellowcreative.com/preview/katekelly/about/"><span>About</span></a></li>
                <li id="menu-item-26" class="navy menu-item menu-item-type-post_type menu-item-object-page menu-item-26"><a href="http://goodfellowcreative.com/preview/katekelly/author/"><span>Author</span></a></li>
                <li id="menu-item-27" class="pink menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="http://goodfellowcreative.com/preview/katekelly/reviews/"><span>Reviews</span></a></li>
                <li id="menu-item-28" class="green menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a href="http://goodfellowcreative.com/preview/katekelly/support-us/"><span>Support Us</span></a></li>
                <li id="menu-item-29" class="orange menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a href="http://goodfellowcreative.com/preview/katekelly/resources/"><span>Resources</span></a></li>
                <li id="menu-item-30" class="peach menu-item menu-item-type-post_type menu-item-object-page menu-item-30"><a href="http://goodfellowcreative.com/preview/katekelly/shop/"><span>Shop</span></a></li>
                <li id="menu-item-31" class="bluegreen menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a href="http://goodfellowcreative.com/preview/katekelly/books/"><span>Books</span></a></li>
                <li id="menu-item-32" class="purpleblue menu-item menu-item-type-post_type menu-item-object-page menu-item-32"><a href="http://goodfellowcreative.com/preview/katekelly/contact/"><span>Contact</span></a></li> -->
                {% for link in linklists.main-menu.links %}
              {% assign child_list_handle = link.title | handleize %}
              {% if linklists[child_list_handle].links != blank %}
              <li class="dropdown ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ link.title | escape }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% for childlink in linklists[child_list_handle].links %}
                  <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% else %}
              <li class="menu-{{link.title | handleize}} item">
                <a href="{{ link.url }}">{{ link.title | escape }}</a>
              </li>
              {% endif %}
              {% endfor %}
              </ul>
            </nav>
          </div>
         </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- <header>
      <div class="buy-now">
        <div class="container">
          <div class="col-md-6 col-sm-12">
            <h2 class="wow fadeIn">Featuring our latest book : <strong>The Big D</strong></h2>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="col-sm-6">
              <button type="button" class="btn btn-lm wow bounceIn">Learn More</button>
            </div>
            <div class="col-sm-6">
              <button type="button" class="btn btn-bn wow bounceIn">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </header> -->

    <section class="">
      <div class="featuring-mobile">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h2>Featuring our latest book :
                <br><strong>The Big D</strong></h2>
            </div>
            <div class="col-sm-12">

                <button type="button" class="btn btn-lm center-block">Learn More</button>
                <button type="button" class="btn btn-bn center-block">Buy Now</button>

            </div>
          </div>
        </div>
      </div>
    </section>

    {{ content_for_layout }}

    <!-- <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <?php if(is_active_sidebar('footer-left')){ dynamic_sidebar('footer-left');}?>
          </div>
          <div class="col-md-4">
            <?php if(is_active_sidebar('footer-middle')){ dynamic_sidebar('footer-middle');}?>
        </div>
          <div class="col-md-4">
            <?php if(is_active_sidebar('footer-right')){ dynamic_sidebar('footer-right');}?>
          </div>
        </div>
        <div class="row footer-bottom">
          <span class="small"> 2016 Elephant in the Room Series | Website by Goodfellow Creative.
        </div>
      </div>
    </footer> -->

    <footer>
      {% section 'footer' %}
    </footer>

    <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' defer="defer"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js' defer="defer"></script>
    <script src="{{ 'new-age.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'wow.min.js' | asset_url }}" defer="defer"></script>

    {{ 'fastclick.min.js' | asset_url | script_tag }}
    {{ 'timber.js' | asset_url | script_tag }}
    {{ 'theme.js' | asset_url | script_tag }}

    {% if template contains 'product' %}
      {% if settings.product_image_zoom_type == 'lightbox'  %}
        {{ 'magnific-popup.min.js' | asset_url | script_tag }}
      {% elsif settings.product_image_zoom_type == 'zoom-in' %}
        {{ 'jquery.zoom.min.js' | asset_url | script_tag }}
      {% endif %}
    {% endif %}

    <script>
      $(function(){
        new WOW().init();
      });
    </script>

  </body>
</html>
