<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src='{{section.settings.image_footer | img_url: '350x' }}'>
        <ul class="list-inline">
          <li>
            <a href="#">ABOUT</a>
          </li>
          <li>
            <a href="#">AUTHOR</a>
          </li>
          <li>
            <a href="#">REVIEWS</a>
          </li>
          <li>
            <a href="#">SUPPORT US</a>
          </li>
          <li>
            <a href="#">RESOURCES</a>
          </li>
          <li>
            <a href="#">SHOP</a>
          </li>
          <li>
            <a href="#">CONTACT</a>
          </li>
        </ul>
    </div>
    <div class="col-md-4">
      <div>
        <span class="footer-title">{{ section.settings.footer_title }}</span>
        <div>{{ section.settings.footer_text }}</div>
      </div>
  </div>
    <div class="col-md-4">
      <div>
          {{shop.address.street}}<br>
          {{shop.address.city}}, {{shop.address.province_code}}<br>
          {{shop.address.zip}}<br>
          <br>
          888-888-888
          <br>
          <a href="mailto:{{shop.email}}">{{shop.email}}</a>
          <br>
          <a href="{{shop.secure_url}}">{{shop.url}}</a>
      </div>
    </div>
  </div>
  <div class="row footer-bottom">
    <span class="small"> 2016 Elephant in the Room Series | Website by P.
  </div>
</div>

{% schema %}
{
	"name": "Footer",
	"settings": [
    {
  		"type": "text",
  		"id": "footer_title",
  		"label": "Title",
      "default": "ELEPHANT IN THE ROOM BOOK SERIES"
	  },
    {
  		"type": "textarea",
  		"id": "footer_text",
  		"label": "Description",
      "default": "Bringing our children into the discussion: to build understanding, reduce fear, and help families become stronger through sharing challenging experiences together."
	  },
    {
      "type": "image_picker",
      "id": "image_footer",
      "label": "Image"
    }
  ]
}
{% endschema %}
