{%- assign featured_product = all_products[section.settings.featured_product] -%}
<section id="contact" class="book bg-primary">
<div class="container">
  <div class="col-md-8">
    <img src="{{ 'book.png' | asset_url }}" class="img-responsive wow fadeInLeft" duration="5s">
  </div>
  <div class="col-md-4 wow fadeIn" duration="3s">
    <h1><strong>The Big D</strong></h1>
    <p>{{ featured_product.description }}</p>
    <p><strong>{{ featured_product.price | money }}</strong></p>
    <a href="{{ featured_product.url}}" class="btn">BUY NOW</a>
  </div>

</div>
</section>

{% schema %}
{
  "name": "Featured product",
  "settings": [
    {
      "type": "product",
      "id": "featured_product",
      "label": "Product"
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "Image size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "full",
          "label": "Full-width"
        }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": "Show quantity selector",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_variant_labels",
      "label": "Show variant labels",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_zoom",
      "label": "Enable image zoom",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Featured product",
      "category": "Product"
    }
  ]
}
{% endschema %}
