<section class="bg-primary padding-210" style="background-image:  url({{ 'testimonial.jpg' | asset_url }})">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-content">
              {% for block in section.blocks %}
                <blockquote>
                    <p style="text-align: center; visibility: visible; animation-name: fadeIn;" class="wow fadeIn animated"><strong>{{ block.settings.quote }}</strong>
                    </p>
                    <p style="text-align: center; visibility: visible; animation-name: fadeIn;" class="wow fadeIn animated">– {{ block.settings.author }}</p>
                    <p style="text-align: center; visibility: visible; animation-name: fadeIn;" class="wow fadeIn animated"><strong>{{ block.settings.location}}</strong>
                    </p>
                </blockquote>
              {% endfor %}
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>

{% schema %}
{
  "name": "Testimonials",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Testimonials"
    }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": "Quote",
      "settings": [
        {
          "type": "textarea",
          "id": "quote",
          "label": "Text",
          "default": "Add customer reviews and testimonials to showcase your store’s happy customers."
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "Author's name"
        },
        {
          "type": "text",
          "id": "location",
          "label": "Location",
          "default": "Author's location"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials",
      "category": "Testimonial",
      "blocks": [
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        }
      ]
    }
  ]
}
{% endschema %}
