$purple: #3f35af;
$violet: #756ECD;
$navy: #6A96D7;
$pink: #DC7FB4;
$green: #A9C974;
$orange: #F4B452;
$peach:#E9696A;
$bluegreen: #64BFAD;
$purpleblue: #6987CF;
$text: #888888;
$fontLato: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
$fontCatamaran: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';

.menu-about{
  background-color: $violet;
}
.menu-author{
  background-color: $navy;
}
.menu-reviews{
  background-color: $pink;
}
.menu-support-us{
  background-color: $green;
}
.menu-resources{
  background-color: $orange;
}
.menu-shop{
  background-color: $peach;
}
.menu-contact{
  background-color: $purpleblue;
}
.menu-books{
  background-color: $bluegreen;
}
.body-font {
  font-family : $fontLato;
}
.alt-font {
  font-family : $fontLato;
  text-transform: uppercase;
  letter-spacing: 2px;
}

html,
body {
  height: 100%;
  // width: 100%;
}
body {
  font-family : $fontLato;
  color: $text;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #424242;
}
footer a{
  color: #dcd0ba;
}
a:hover,
a:focus {
  color: #fcbd20;
}
hr {
  width: 100%;
  margin: 25px 0px 25px;
  border-width: 2px;
  border-color: rgba(34, 34, 34, 0.1);
}
hr.light {
  border-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6,
.heading-font{
  font-family : $fontLato;
  font-weight: 300;
  letter-spacing: 1px;
}
p {
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.items {
  display: flex;
  flex-wrap: wrap;
  .item {
    flex: 1 0 25%;
    box-sizing: border-box;
  }
}
.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family : $fontCatamaran;
  font-weight: 200;
  letter-spacing: 1px;
}
.navbar-default .navbar-header .navbar-brand {
  font-family : $fontCatamaran;
  font-weight: 200;
  letter-spacing: 1px;
  color: #fdcc52;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #fcbd20;
}
.navbar-default .navbar-header .navbar-toggle {
  font-size: 12px;
  color: #ffffff;
  padding: 8px 10px;
  background-color: $purple;
}
.navbar-default .nav > li > a {
  font-family : $fontLato;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #fdcc52;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #fdcc52 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
// .navbar-nav{
//   .violet{background-color: $violet;}
//   .navy{background-color: $navy;}
//   .pink{background-color: $pink;}
//   .green{background-color: $green;}
//   .orange{background-color: $orange;}
//   .peach{background-color: $peach;}
//   .bluegreen{background-color: $bluegreen;}
//   .purpleblue{background-color: $purpleblue;}
// }
@media (min-width: 768px) {
  #shopify-section-1478730557696 {
    h1{
    margin-top: 15px;
    }
  }
  .navbar-default {
    background-color: #fff;
    height: 110px;
    box-shadow: 5px -6px 28px 0px rgba(0, 0, 0, 0.8);
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }

  .navbar-nav>li {
    float: left;
    height: 110px;
    padding: 30px 9px;
  }
  .navbar-default .nav > li > a{
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.1);
    position: absolute;
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #222222;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #fdcc52;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #fdcc52;
  }
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: url("img/main-slider.jpg"), #fff;
  background-size: cover;
  background-position: 67% 0%;
  color: white;
  // display: none;
  .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 30px;
  }
  .header-content .header-content-inner .list-badges {
    margin-bottom: 25px;
  }
  .header-content .header-content-inner .list-badges img {
    height: 50px;
    margin-bottom: 25px;
  }
  .device-container {
    max-width: 300px;
    margin: 0 auto 100px;
  }
  .device-container .screen img {
    border-radius: 3px;
  }
}
.home header{
  display: block;
}
.page{
  .page-inner{
    margin-top: 25px;
    margin-bottom: 25px;
    p{
      font-size: 16px;
      color: $text;
    }
    .media-heading {
      margin-bottom: 5px;
      margin-top: 30px;
      font-weight: 600;
      margin-left: 21px;
    }
    h2{
      font-weight: 400;
    }
  }
}


header {
  min-height: 100%;
  .buy-now{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: $purple;
    height: 105px;
    h2{
      padding-top: 35px;
    }
    .btn{
      border-radius: 0;
      width: 215px;
      margin-top: 35px;
      font-size: 16px;
      padding: 8px;
    }
  }
  .header-content {
    height: 100vh;
  }
  .header-content .header-content-inner {
    position: absolute;
    bottom: 0;
    background-color: $purple;
  }
  .header-content .header-content-inner h1 {
    font-size: 35px;
  }
  .device-container {
    max-width: none;
    max-height: calc(0vh);
    margin: 100px auto 0;
  }
}
.btn-lm{
  background-color: transparent;
  border: 1px solid #DDDDDD;
}
.btn-bn{
  color: $purple;
}
.featuring-mobile{
    display: none;
    .btn{
      border-radius: 0;
      width: 215px;
      font-size: 16px;
      padding: 8px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .btn-lm{
      background-color: transparent;
      border: 1px solid #dddddd;
      color: #e4646f;
    }
}
.bg-primary {
  background: #fff;
  position: relative;
}
.page-content{
  z-index: 1;
  p{
    color: $text;
    font-size: 16px;
    padding-right: 20px;
  }
  h1{
    color: $purple;
    font-weight: 300;
    padding-bottom: 30px;
  }
}
section{
  .page-content{
    p{
      padding-bottom: 14px;
    }
  }
}
.page-header{
  background-image: url(//cdn.shopify.com/s/files/1/1590/6395/t/4/assets/testimonial.jpg?16989921298133677564);
  height: 230px;
  background-size: cover;
  background-position: 0% 57%;
  position: relative;
  .ft-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(101, 101, 101, 0.8);
  }
  .page-header-inside{
    margin-top: 80px;
    h1{
      color: white;
      font-weight: 300;
      font-size: 45px;
      margin-top: 25px;
    }
    .underline {
      display: inline-block;
      width: 88px;
      height: 5px;
      margin-top: 0px;
      margin-bottom: 10px;
      border-radius: 3px;
      background-color: rgba(222, 222, 222, 0.38);
  }

  }
}
/* Gravity Form */
.gform_wrapper{
  input[type="text"],input[type="email"],input[type="tel"], textarea{
    width: 100% !important;
    border-radius: 9px;
    border: 2px solid rgba(212, 212, 212, 0.65);
  }
  input[type="submit"]{
    background-color: #3f35af;
    color: white;
    border: 0;
    padding: 7px 31px;
    margin-top: -10px;
    border-radius: 8px;
  }
}
/* WOOcommerce */
.woocommerce{
  ul.products li.product h3 {
    font-size: 15px;
    font-weight: 600;
    color: #888888;
  }
}
@media (max-width: 1199px){
  .navbar-nav > li {
    padding: 0px 14px;
    height: inherit;
  }
  .navbar-right {
    margin-top: 60px;
  }
  .buy-now{
    h2{
      font-size: 25px;
    }
  }
  .navbar-default .navbar-header .navbar-brand {
    margin-left: -11px;
  }
  .items{
    .item {
      padding: 2.6pt 36.5px;
      margin-top: -3px;
    }
    .item:last-child{
      padding: 2.6pt 49.3px;
      margin-top: -3px;
    }
  }
  .navbar-right {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
}
section.padding {
  padding: 35px 0;
  position: relative;
}
section.padding-210 {
  padding: 150px 0;
  position: relative;
  background-size: cover;
}
section h2 {
  font-size: 50px;
  color: $purple;
  font-weight: 300;
}
section.video{
  img{
    margin-top: 45px;
    margin-bottom: 45px;
  }
  p{
    color: $text;
  }
}

section.philosophy{
  background-color: #EBE9F6;
  padding: 0;
  h1{
    padding-top: 50px;
    padding-bottom: 25px;
    color: $purple;
  }
}
section.cta {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('img/testimonial.jpg');
  padding: 210px 0;
}
section.cta .cta-content {
  position: relative;
  z-index: 1;
}
section.cta .cta-content h2 {
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
  max-width: 450px;
  font-size: 50px;
}
section.cta p{
  color: #fff;
}
@media (max-width: 991px){
  .navbar-nav > li {
    padding: 0px 0px;
  }
  header .buy-now{
    text-align: center;
    height: 164px;
    .btn{
      margin-top: 6px;
    }
  }
  .page-content{
    p{
      font-size: 12px;
    }
  }
  section.padding-210 {
    padding: 55px 0;
  }
  blockquote {
    padding: 0;
    background-size: 26px;
  }
  .su-column{
    img{
      max-width: 280px !important;
    }
  }
  section.book {
    padding-bottom: 65px;
    text-align: center;
  }
  footer{
    text-align: center;
    .widget_text{
      margin-top: 30px;
    }
  }
  .page-header  {
    .page-header-inside{
      h1{
        font-size: 25px;
        margin-top: 45px;
      }
    }
  }
  .items{
    .item {
      padding: 2.4pt 9.2px;
    }
    .item:last-child{
      padding: 2.4pt 16.5pt;
    }
  }
}
@media (max-width: 767px){
  #contact{
    .btn{
      margin-bottom: 15px;
    }
    h1{
      margin-top: 25px;
    }
  }
  .bg-primary{
    padding: 35px 0;
  }
  .wrapper{
    width: 90%;
  }
  .navbar-brand>img {
    width: 55%;
    margin-top: -12px;
    margin-left: 15px;
  }
  .navbar-right {
    margin-top: 0px;
  }
  .navbar-default .nav > li > a{
    font-weight: bold;
    color: white;
    font-size: 15px;
  }
  header{
    min-height: 350px;
  }
  .buy-now{
    display: none;
  }
  .featuring-mobile{
    display: none;
    background-color: #cecece;
    h2{
      font-size: 32px;
      text-align: center;
    }
  }
  .home .featuring-mobile{
    display: block;
  }
  .page-header {
    height: 126px;
    margin: 24px 0 20px;
    .page-header-inside {
      margin-top: 25px;
      h1{
        margin-top: 20px;
      }
      .underline{
        display: none;
      }
    }
  }
  .page-content{
    h1,p{
      text-align: center;
      letter-spacing: 0px;
    }
    h1{
      font-size: 21px;
    }
    .quote{
      max-width: 40px;
      width: 100%;
      height: auto;
    }
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .items{
    display: inherit;
    .item,
    .item:last-child{
      padding: 0 !important;
    }
  }

}

@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.contact-side{
  padding: 1px 19px;
  margin-bottom: 35px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.06);
  h2{
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(63, 53, 175, 0.83);
  }
  ul li.gfield {
    margin-top: 5px !important;
  }
  input[type="submit"]{
    margin-top: -20px !important;
  }
  .gform_wrapper textarea.medium {
    height: 100px !important;
  }
}
section.contact {
  text-align: center;
}
section.book{
  padding:0;
  h1{
    color: #564FB8;
    margin-top: 90px;
  }
  p{
    color: #888;
  }
  .btn{
    background-color: #564fb8;
    border-radius: 0;
    color: white;
    padding: 15px 40px;
  }
}
section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}
section.contact h2 i {
  color: #dd4b39;
}
section.contact ul.list-social {
  margin-bottom: 0;
}
section.contact ul.list-social li a {
  display: block;
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-size: 40px;
  border-radius: 100%;
  color: white;
}
section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}
section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}
section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}
section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}
section.contact ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}
section.contact ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}
footer {
  background-color: $purple;
  padding: 25px 0;
  color: #fff;
  p {
    font-size: 12px;
    margin: 0;
  }
  ul {
    margin-bottom: 0;
  }
  ul li a {
    font-size: 9px;
    color: #fff;
  }
  ul li a:hover,
  ul li a:focus,
  ul li a:active,
  ul li a.active {
    text-decoration: none;
  }
  li+li:before{
    content: "\007c";
    color: #fff;
  }
  .list-inline>li{
    padding:0;
  }
  h5{
    font-size: 16px;
    font-weight: 500;
  }
  .footer-title{
    margin-bottom: 15px;
    display: inline-block;
  }
  .footer-bottom{
    margin-bottom: 7px;
    margin-top: 33px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 15px;
  }
}
blockquote {
  padding: 13px 0px;
  background-image: url(img/quote.png);
  background-repeat: no-repeat;
  z-index: 10;
  position: relative;
  border: none;
  p{
    color: #fff;
    strong{
      color: #d6d6d6;
    }
  }
}


.su-column{
  margin: initial !important;
  .su-column-inner{
    color: $text;
    font-size: 17px;
  }
}
.text-primary {
  color: #fdcc52;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-outline {
  color: white;
  border-color: white;
  border: 1px solid;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: white;
  background-color: #fdcc52;
  border-color: #fdcc52;
}
.btn {
  font-family : $fontLato;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 300px;
}
.btn-xl {
  padding: 15px 45px;
  font-size: 11px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}

/****----- Play Button Overlay -----****/
.video {
    width: 100%;
    border: 1px solid black;
}
.wrapper{
    display:table;
    width:auto;
    position:relative;
    width:50%;

}
.playpause {
    background-image:url(http://goodfellowcreative.com/preview/katekelly/wp-content/uploads/2016/10/play.png);
    background-repeat:no-repeat;
    width:50%;
    height:35%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}

#contact_form input[type="text"],
#contact_form input[type="email"],
#contact_form input[type="tel"],
#contact_form textarea{
  margin: 0 0 2em !important;
}
/****----- Play Button Overlay END -----****/

@media (max-width: 479px){
  .navbar-default .navbar-header .navbar-brand {
    width: 185px;
  }
  .navbar-brand > img {
    width: 100%;
  }
  .featuring-mobile h2 {
    font-size: 20px;
  }
  blockquote {
    padding: 36px;
  }
  section.book {
    padding-bottom: 30px;
    h1{
      margin-top: 30px;;
    }
  }
}
