<div class="page-header">
  <div class="ft-overlay">
    <div class="page-header-inside">
      <div class="container">
        <h1 itemprop="name" content="{{ page.title }}{% unless current_variant.title == 'Default Title' %} - {{ current_variant.title }}{% endunless %}">{{ page.title }}</h1>
        <div class="underline"></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

<div class="col-md-6">
  {{ page.content }}
</div>

<div class="col-md-6">

  {% form 'contact' %}

    {% if form.posted_successfully? %}
      <p class="note form-success">
        {{ 'contact.form.post_success' | t }}
      </p>
    {% endif %}

    {{ form.errors | default_errors }}

    {% assign name_attr = 'contact.form.name' | t | handle %}
    <label for="ContactFormName" class="label--hidden">{{ 'contact.form.name' | t }}</label>
    <input type="text" id="ContactFormName" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">

    <label for="ContactFormEmail" class="label--hidden">{{ 'contact.form.email' | t }}</label>
    <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

    {% assign name_attr = 'contact.form.phone' | t | handle %}
    <label for="ContactFormPhone" class="label--hidden">{{ 'contact.form.phone' | t }}</label>
    <input type="tel" id="ContactFormPhone" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

    <label for="ContactFormMessage" class="label--hidden">{{ 'contact.form.message' | t }}</label>
    <textarea rows="10" id="ContactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

    <input type="submit" class="btn" value="{{ 'contact.form.send' | t }}">

  {% endform %}

</div>
</div>
</div>
